# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you learned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [3]:
# Import libraries
import numpy as np
import pandas as pd

In [4]:
# Importing the dataset
# # reading a csv table into a variable
pokemon = pd.read_csv("pokemon.csv")

# reading the excel table into a variable
# orders = pd.read_excel("orders.xlsx")

In [5]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [14]:
# your code here
pokemon['SUM'] = pokemon[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)

In [15]:
pokemon[['Total', 'SUM']]  # Hypothesis (Sanity) check

     Total  SUM
0      318  318
1      405  405
2      525  525
3      625  625
4      309  309
..     ...  ...
795    600  600
796    700  700
797    600  600
798    680  680
799    600  600

[800 rows x 2 columns]

In [16]:
pokemon['formula']=(pokemon['Total']==pokemon['SUM'])
pokemon['formula'].value_counts(dropna=False)

True    800
Name: formula, dtype: int64

Therefore, the sum of the characteristics or strengths is summarized under Total.

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [17]:
# your code here
categorical = pokemon.select_dtypes('object')
categorical.describe(include="all").T

       count unique        top freq
Name     800    800  Bulbasaur    1
Type 1   800     18      Water  112
Type 2   414     18     Flying   97

In [18]:
X1 = pokemon[['Type 1']]
X1

      Type 1
0      Grass
1      Grass
2      Grass
3      Grass
4       Fire
..       ...
795     Rock
796     Rock
797  Psychic
798  Psychic
799     Fire

[800 rows x 1 columns]

In [20]:
from sklearn.preprocessing import OneHotEncoder

encoder1 = OneHotEncoder().fit(X1)
cols1 = [encoder1.categories_[i][:] for i in range(len(X1.columns))]
X1_encode = pd.DataFrame(encoder1.transform(X1).toarray(),columns=cols1)
X1_encode

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
X1_encode.columns.values

array([('Bug',), ('Dark',), ('Dragon',), ('Electric',), ('Fairy',),
       ('Fighting',), ('Fire',), ('Flying',), ('Ghost',), ('Grass',),
       ('Ground',), ('Ice',), ('Normal',), ('Poison',), ('Psychic',),
       ('Rock',), ('Steel',), ('Water',)], dtype=object)

In [23]:
X2 = pokemon[['Type 2']]
X2

     Type 2
0    Poison
1    Poison
2    Poison
3    Poison
4       NaN
..      ...
795   Fairy
796   Fairy
797   Ghost
798    Dark
799   Water

[800 rows x 1 columns]

In [24]:
from sklearn.preprocessing import OneHotEncoder

encoder2 = OneHotEncoder().fit(X2)
cols2 = [encoder2.categories_[i][:] for i in range(len(X2.columns))]
X2_encode = pd.DataFrame(encoder2.transform(X2).toarray(),columns=cols2)
X2_encode

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,NaN
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
796,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
798,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [25]:
# Need to drop X2 NaN column: use  iloc
X2_encode = X2_encode.iloc[:, :-1]
X2_encode

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
796,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
798,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [26]:
# add both encoded tables
type_encode = X1_encode + X2_encode
type_encode

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
796,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
798,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
799,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [27]:
type_encode.columns.values

array([('Bug',), ('Dark',), ('Dragon',), ('Electric',), ('Fairy',),
       ('Fighting',), ('Fire',), ('Flying',), ('Ghost',), ('Grass',),
       ('Ground',), ('Ice',), ('Normal',), ('Poison',), ('Psychic',),
       ('Rock',), ('Steel',), ('Water',)], dtype=object)

In [29]:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [30]:
pokemon_correlation = type_encode.corrwith(pokemon['Total'])
pokemon_correlation

Bug        -0.145781
Dark        0.056154
Dragon      0.229705
Electric    0.020971
Fairy      -0.036698
Fighting    0.077786
Fire        0.078726
Flying      0.059383
Ghost       0.003641
Grass      -0.052592
Ground      0.015060
Ice         0.060248
Normal     -0.105331
Poison     -0.090441
Psychic     0.124688
Rock        0.032731
Steel       0.109703
Water      -0.021665
dtype: float64

In [31]:
pokemon_type = pd.concat([type_encode, pokemon['Total']], axis=1)
pokemon_type

,"(Bug,)","(Dark,)","(Dragon,)","(Electric,)","(Fairy,)","(Fighting,)","(Fire,)","(Flying,)","(Ghost,)","(Grass,)","(Ground,)","(Ice,)","(Normal,)","(Poison,)","(Psychic,)","(Rock,)","(Steel,)","(Water,)",Total
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,318
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,405
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,525
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,625
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,600
796,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,700
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,600
798,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,680
799,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,600

In [32]:
correlations_matrix = pokemon_type.corr()
correlations_matrix

,"(Bug,)","(Dark,)","(Dragon,)","(Electric,)","(Fairy,)","(Fighting,)","(Fire,)","(Flying,)","(Ghost,)","(Grass,)","(Ground,)","(Ice,)","(Normal,)","(Poison,)","(Psychic,)","(Rock,)","(Steel,)","(Water,)",Total
"(Bug,)",1.000000,-0.082062,-0.081200,-0.045111,-0.072148,-0.048645,-0.060536,0.064571,-0.058915,-0.034430,-0.063544,-0.070229,-0.120219,0.121210,-0.111968,-0.003706,0.047178,-0.123983,-0.145781
"(Dark,)",-0.082062,1.000000,-0.003963,-0.067375,-0.059864,-0.007791,-0.020368,-0.022164,0.001484,-0.048339,-0.023480,-0.010163,-0.099751,-0.018227,-0.044327,-0.033493,-0.023978,-0.028548,0.056154
"(Dragon,)",-0.081200,-0.003963,1.000000,-0.024000,-0.035541,-0.068775,-0.038069,0.026237,-0.019410,-0.078818,0.052430,0.015173,-0.098702,-0.055525,-0.026557,-0.032360,-0.044417,-0.083285,0.229705
"(Electric,)",-0.045111,-0.067375,-0.024000,1.000000,-0.035541,-0.068775,-0.057104,-0.020407,-0.041592,-0.078818,-0.059420,-0.033382,-0.067737,-0.074838,-0.091928,-0.072188,-0.001346,-0.069109,0.020971
"(Fairy,)",-0.072148,-0.059864,-0.035541,-0.035541,1.000000,-0.061108,-0.067651,-0.052669,-0.056665,-0.048756,-0.069360,-0.051232,-0.001720,-0.066495,0.027227,0.002212,0.013155,-0.067703,-0.036698
"(Fighting,)",-0.048645,-0.007791,-0.068775,-0.068775,-0.061108,1.000000,0.051130,-0.086119,-0.065792,-0.051171,-0.080531,-0.059483,-0.071687,-0.039613,0.000596,-0.055090,-0.005161,-0.073778,0.077786
"(Fire,)",-0.060536,-0.020368,-0.038069,-0.057104,-0.067651,0.051130,1.000000,-0.028855,-0.013459,-0.108248,-0.022621,-0.065851,-0.085097,-0.085471,-0.061243,-0.064677,-0.056108,-0.114850,0.078726
"(Flying,)",0.064571,-0.022164,0.026237,-0.020407,-0.052669,-0.086119,-0.028855,1.000000,-0.061555,-0.081366,-0.060578,-0.049498,0.125506,-0.067950,-0.063872,-0.048221,-0.081400,-0.092030,0.059383
"(Ghost,)",-0.058915,0.001484,-0.019410,-0.041592,-0.056665,-0.065792,-0.013459,-0.061555,1.000000,0.075316,-0.035908,-0.029914,-0.094420,0.008736,-0.070947,-0.069057,0.026479,-0.077314,0.003641
"(Grass,)",-0.034430,-0.048339,-0.078818,-0.078818,-0.048756,-0.051171,-0.108248,-0.081366,0.075316,1.000000,-0.097033,-0.027476,-0.117156,0.110372,-0.094009,-0.072829,-0.061537,-0.126894,-0.052592
"(Ground,)",-0.063544,-0.023480,0.052430,-0.059420,-0.069360,-0.080531,-0.022621,-0.060578,-0.035908,-0.097033,1.000000,-0.003872,-0.102044,-0.053878,-0.079079,0.072085,-0.020771,-0.006844,0.015060
"(Ice,)",-0.070229,-0.010163,0.015173,-0.033382,-0.051232,-0.059483,-0.065851,-0.049498,-0.029914,-0.027476,-0.003872,1.000000,-0.085366,-0.064726,-0.042311,-0.017110,-0.057042,0.000242,0.060248
"(Normal,)",-0.120219,-0.099751,-0.098702,-0.067737,-0.001720,-0.071687,-0.085097,0.125506,-0.094420,-0.117156,-0.102044,-0.085366,1.000000,-0.110800,-0.112381,-0.106877,-0.097645,-0.154994,-0.105331
"(Poison,)",0.121210,-0.018227,-0.055525,-0.074838,-0.066495,-0.039613,-0.085471,-0.067950,0.008736,0.110372,-0.053878,-0.064726,-0.110800,1.000000,-0.103195,-0.081036,-0.074036,-0.073986,-0.090441
"(Psychic,)",-0.111968,-0.044327,-0.026557,-0.091928,0.027227,0.000596,-0.061243,-0.063872,-0.070947,-0.094009,-0.079079,-0.042311,-0.112381,-0.103195,1.000000,-0.069031,0.024540,-0.099639,0.124688
"(Rock,)",-0.003706,-0.033493,-0.032360,-0.072188,0.002212,-0.055090,-0.064677,-0.048221,-0.069057,-0.072829,0.072085,-0.017110,-0.106877,-0.081036,-0.069031,1.000000,0.049202,0.011447,0.032731
"(Steel,)",0.047178,-0.023978,-0.044417,-0.001346,0.013155,-0.005161,-0.056108,-0.081400,0.026479,-0.061537,-0.020771,-0.057042,-0.097645,-0.074036,0.024540,0.049202,1.000000,-0.096131,0.109703
"(Water,)",-0.123983,-0.028548,-0.083285,-0.069109,-0.067703,-0.073778,-0.114850,-0.092030,-0.077314,-0.126894,-0.006844,0.000242,-0.154994,-0.073986,-0.099639,0.011447,-0.096131,1.000000,-0.021665
Total,-0.145781,0.056154,0.229705,0.020971,-0.036698,0.077786,0.078726,0.059383,0.003641,-0.052592,0.015060,0.060248,-0.105331,-0.090441,0.124688,0.032731,0.109703,-0.021665,1.000000

In [35]:
correlation = pd.DataFrame(pokemon_correlation).reset_index()
correlation_columns = ['Type', 'Correlation']
correlation_columns

['Type', 'Correlation']

In [36]:
correlation
# The highest correlation are with the dragons

     level_0         0
0        Bug -0.145781
1       Dark  0.056154
2     Dragon  0.229705
3   Electric  0.020971
4      Fairy -0.036698
5   Fighting  0.077786
6       Fire  0.078726
7     Flying  0.059383
8      Ghost  0.003641
9      Grass -0.052592
10    Ground  0.015060
11       Ice  0.060248
12    Normal -0.105331
13    Poison -0.090441
14   Psychic  0.124688
15      Rock  0.032731
16     Steel  0.109703
17     Water -0.021665

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [38]:
# your code here
correlation.nlargest(3, 0)

    level_0         0
2    Dragon  0.229705
14  Psychic  0.124688
16    Steel  0.109703

In [41]:

pokemon[['Name', 'Type 1', 'Type 2', 'Total']][(pokemon['Type 1']=='Dragon')]

                        Name  Type 1    Type 2  Total
159                  Dratini  Dragon       NaN    300
160                Dragonair  Dragon       NaN    420
161                Dragonite  Dragon    Flying    600
365                  Altaria  Dragon    Flying    490
366      AltariaMega Altaria  Dragon     Fairy    590
406                    Bagon  Dragon       NaN    300
407                  Shelgon  Dragon       NaN    420
408                Salamence  Dragon    Flying    600
409  SalamenceMega Salamence  Dragon    Flying    700
417                   Latias  Dragon   Psychic    600
418        LatiasMega Latias  Dragon   Psychic    700
419                   Latios  Dragon   Psychic    600
420        LatiosMega Latios  Dragon   Psychic    700
425                 Rayquaza  Dragon    Flying    680
426    RayquazaMega Rayquaza  Dragon    Flying    780
491                    Gible  Dragon    Ground    300
492                   Gabite  Dragon    Ground    410
493                 Garchomp  Dragon    Ground    600
494    GarchompMega Garchomp  Dragon    Ground    700
671                     Axew  Dragon       NaN    320
672                  Fraxure  Dragon       NaN    410
673                  Haxorus  Dragon       NaN    540
682                Druddigon  Dragon       NaN    485
706                 Reshiram  Dragon      Fire    680
707                   Zekrom  Dragon  Electric    680
710                   Kyurem  Dragon       Ice    660
711       KyuremBlack Kyurem  Dragon       Ice    700
712       KyuremWhite Kyurem  Dragon       Ice    700
774                    Goomy  Dragon       NaN    300
775                  Sliggoo  Dragon       NaN    452
776                   Goodra  Dragon       NaN    600
794         Zygarde50% Forme  Dragon    Ground    600

In [42]:
grouped_pokemon = pokemon.groupby(['Type 1', 'Type 2']).mean()
grouped_pokemon.sort_values(by = 'Total', ascending = False)

/var/folders/ng/k4dhfwcs2md27b2dv9tc_4zw0000gn/T/ipykernel_24453/4148222379.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_pokemon = pokemon.groupby(['Type 1', 'Type 2']).mean()

                    #       Total     HP  Attack     Defense  Sp. Atk  \
Type 1  Type 2
Ground  Fire    383.0  770.000000  100.0   180.0  160.000000    150.0
Dragon  Ice     646.0  686.666667  125.0   140.0   93.333333    140.0
Steel   Dragon  483.0  680.000000  100.0   120.0  120.000000    150.0
Ghost   Dragon  487.0  680.000000  150.0   110.0  110.000000    110.0
Psychic Dark    720.0  680.000000   80.0   160.0   60.000000    170.0
...               ...         ...    ...     ...         ...      ...
Poison  Bug     451.0  330.000000   40.0    50.0   90.000000     30.0
Normal  Fairy   216.4  330.000000   99.6    45.0   49.200000     54.0
Poison  Water   690.0  320.000000   50.0    60.0   60.000000     60.0
Bug     Water   283.0  269.000000   40.0    30.0   32.000000     50.0
        Ghost   292.0  236.000000    1.0    90.0   45.000000     30.0

                   Sp. Def  Speed  Generation  Legendary         SUM  formula
Type 1  Type 2
Ground  Fire     90.000000   90.0         3.0        1.0  770.000000      1.0
Dragon  Ice      93.333333   95.0         5.0        1.0  686.666667      1.0
Steel   Dragon  100.000000   90.0         4.0        1.0  680.000000      1.0
Ghost   Dragon  110.000000   90.0         4.0        1.0  680.000000      1.0
Psychic Dark    130.000000   80.0         6.0        1.0  680.000000      1.0
...                    ...    ...         ...        ...         ...      ...
Poison  Bug      55.000000   65.0         4.0        0.0  330.000000      1.0
Normal  Fairy    52.200000   30.0         2.4        0.0  330.000000      1.0
Poison  Water    60.000000   30.0         6.0        0.0  320.000000      1.0
Bug     Water    52.000000   65.0         3.0        0.0  269.000000      1.0
        Ghost    30.000000   40.0         3.0        0.0  236.000000      1.0

[136 rows x 12 columns]

In [ ]:
# OK, I never played Pokemon;)